if command -v nix-shell &> /dev/null
then
  # I can't figure out how to `use flake` with `--impure` which is necessary if
  # we want to try to build a specific Node version (see note in flake.nix)

  watch_file flake.nix
  watch_file flake.lock

  eval "$(nix print-dev-env --impure)"
fi
