{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "src",
    "paths": { "src/*": ["../src/*"] },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true
    }
  }
}
